.menu-container .title {
	font-size: 16px;
}
/***Page sidebar***/
/* ie8 fixes */
.ie8 .menu {
    background: #fff;
}
.menu-toggle{
	height: 65px;
	position: relative;
}
.menu-toggle span{
	position: absolute;
	background: url(image/xb-icons.png) no-repeat -58px -126px;
	display: inline-block;
	width: 14px;
	height: 14px;
	right: 17px;
	top: 12px;
	cursor: pointer;
}
.menu-toggle span:hover{
	background-position: -132px -126px;
}
.menu-toggle span.menu-close{
	background-position:  -32px -126px;
}
.menu-toggle span.menu-close:hover{
	background-position:  -108px -126px;
}
.menu-ctrl{
	position: absolute;
	width: 100%;
	height: 13px;
	background: #5B616F;
	cursor: pointer;
}
.menu-ctrl.up{
	top: 50px;
}
.menu-ctrl.down{
	bottom: 0;
}
.menu-ctrl span{
	height: 15px;
	width: 12px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
}
.menu-ctrl .up-icon{
	background: url(image/dashboard-icon.png) no-repeat;
	background-position: -38px -338px;
}
.menu-ctrl:hover .up-icon{
	background: url(image/xb-icons.png) no-repeat;
	background-position: -485px -130px;
}
.menu-ctrl .down-icon{
	background: url(image/xb-icons.png) no-repeat;
	background-position: -511px -130px;
}
.menu-ctrl:hover .down-icon{
	background: url(image/dashboard-icon.png) no-repeat;
	background-position: -12px -338px;
}
.page-sidebar {
	z-index: 2;
	position: absolute;
	bottom: 0;
	top: 65px;
	overflow: hidden;
}
ul.page-sidebar-menu {
	list-style: none;
	margin: 0;	
	padding: 0;
}
ul.page-sidebar-menu > li {
	display: block;
	padding: 0; 
	line-height: 11px;
	margin-left: 35px;
	margin-bottom: 40px;
}
ul.page-sidebar-menu > li > a {
	display: block;
	position: relative;
	margin: 0;
	border: 0;
  	color: #131A2D;
	-webkit-transition: background .2s;
	transition: background .2s;
	text-decoration: none;
	line-height: 38px;
	height: 38px;
	font-size: 20px;
}
ul.page-sidebar-menu > li.active > a,
ul.page-sidebar-menu > li> a:hover {
	border: none;
	text-shadow: none;
	color: #69C4C5;
}
ul.page-sidebar-menu > li >ul >li .menu-item,
ul.page-sidebar-menu > li .menu-item {
	display: block;
	text-overflow: ellipsis;
	white-space: pre;
	overflow: hidden;
}
li .sub-menu
{
	display: none;
}
ul.page-sidebar-menu > li .sub-menu a .arrow {
}
ul.page-sidebar-menu > li > a i {
	font-size: 30px;
	margin-right: 18px;
	text-shadow:none; 
 	color: #5eb7f9;
}

ul.page-sidebar-menu > li a:hover i {
 	color: #0096d6;
}
ul.page-sidebar-menu > li > ul.sub-menu > li > a {
	height: 50px;
	line-height: 50px;
	display: block;
	padding: 0px 0 0px 37px;
	margin: 1px 0 0 0;
	font-size: 14px;
	padding-left: 24px;
	color: #47495d;
}

ul.page-sidebar-menu > li > ul.sub-menu > li {
	/*padding: 0 16px;*/
	border-bottom: 1px solid #b5b5b5;
}
ul.page-sidebar-menu > li > ul.sub-menu > li:last-child,
ul.page-sidebar-menu > li > ul.sub-menu > li> ul.sub-menu > li:last-child{
	margin-bottom: 0px;
	border-bottom: none;
}
/* menu-icon */
ul.page-sidebar-menu > li .menu-icon {
	width: 35px;
	height: 35px;
	display: inline-block;
	background: url(image/xb-icons.png) no-repeat;
	float: left;
}
ul.page-sidebar-menu > li >ul.sub-menu .menu-icon {
    display: none;
}
ul.page-sidebar-menu > li .menu-icon.icon-menu-system{
	background-position: -34px -160px;
}
ul.page-sidebar-menu > li:hover .menu-icon.icon-menu-system,
ul.page-sidebar-menu > li.active .menu-icon.icon-menu-system{
	background-position: -108px -160px;
}
ul.page-sidebar-menu > li .menu-icon.icon-menu-quick{
	background-position: -34px -232px;
}
ul.page-sidebar-menu > li:hover .menu-icon.icon-menu-quick,
ul.page-sidebar-menu > li.active .menu-icon.icon-menu-quick{
	background-position: -109px -232px;
}
ul.page-sidebar-menu > li .menu-icon.icon-menu-network{
	background-position: -34px -301px;
}
ul.page-sidebar-menu > li:hover .menu-icon.icon-menu-network,
ul.page-sidebar-menu > li.active .menu-icon.icon-menu-network{
	background-position: -109px -301px;
}
ul.page-sidebar-menu > li .menu-icon.icon-menu-wireless{
	background-position: -34px -370px;
}
ul.page-sidebar-menu > li:hover .menu-icon.icon-menu-wireless,
ul.page-sidebar-menu > li.active .menu-icon.icon-menu-wireless{
	background-position: -109px -370px;
}
ul.page-sidebar-menu > li .menu-icon.icon-menu-user{
	background-position: -34px -437px;
}
ul.page-sidebar-menu > li:hover .menu-icon.icon-menu-user,
ul.page-sidebar-menu > li.active .menu-icon.icon-menu-user{
	background-position: -109px -437px;
}
ul.page-sidebar-menu > li .menu-icon.icon-menu-security{
	background-position: -34px -507px;
}
ul.page-sidebar-menu > li:hover .menu-icon.icon-menu-security,
ul.page-sidebar-menu > li.active .menu-icon.icon-menu-security{
	background-position: -109px -507px;
}
ul.page-sidebar-menu > li .menu-icon.icon-menu-app{
	background-position: -34px -575px;
}
ul.page-sidebar-menu > li:hover .menu-icon.icon-menu-app,
ul.page-sidebar-menu > li.active .menu-icon.icon-menu-app{
	background-position: -109px -575px;
}
ul.page-sidebar-menu > li .menu-icon.icon-menu-syscfg{
	background-position: -34px -644px;
}
ul.page-sidebar-menu > li:hover .menu-icon.icon-menu-syscfg,
ul.page-sidebar-menu > li.active .menu-icon.icon-menu-syscfg{
	background-position: -109px -644px;
}